<h3>Cadastro de Item</h3>
<form [formGroup]="formularioItem">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col">
      <mat-form-field class="form-field-cadastro-nome">
        <input matInput placeholder="Nome" formControlName="nomeItem" maxlength="50">
        <mat-error *ngIf="formularioItem.get('nomeItem').hasError('required')">
          Nome é obrigatório
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field-cadastro-preco">
        <input matInput placeholder="Preco" [showMaskTyped]="true" formControlName="preco" suffix="$" mask="separator.2"
          thousandSeparator="." separatorLimit="10000000" style="direction: RTL;">
        <mat-error *ngIf="formularioItem.get('preco').hasError('required')">
          Preco é obrigatório
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field-cadastro-unidade">
        <mat-label>Unidade</mat-label>
        <mat-select formControlName="unidade" (selectionChange)="ajustaMask()">
          <mat-option *ngFor="let unidade of unidades" [value]="unidade.value">
            {{unidade.textValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field-cadastro-quantidade">
        <input matInput placeholder="Quantidade" formControlName="quantidade" suffix="{{suffix}}" mask="{{mask}}"
          separatorLimit="{{separatorLimit}}">
      </mat-form-field>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
      <mat-form-field appearance="fill" class="form-field-cadastro-date">
        <mat-label>Data de Fabricacao</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="fabricacao">
        <mat-error *ngIf="formularioItem.get('fabricacao').hasError('invalid')">
          Data de Fabricacao maior que a data de validade
        </mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field-cadastro-date">
        <mat-label>Data de Validade</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="validade">
        <mat-error *ngIf="formularioItem.get('validade').hasError('invalid')">
          Produto vencido ou sem data de validade informada
        </mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
      <mat-checkbox class="perecivel" formControlName="perecivel" [checked]="true">Produto perecivel</mat-checkbox>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
      <button mat-raised-button class="cancel" color="secondary" type="reset" routerLink="../lista">Cancelar</button>
      <button mat-raised-button color="primary" class="submit" (click)="onSubmit()" routerLink="../lista"
        [disabled]="formularioItem.invalid">Salvar</button>
    </div>
  </div>
</form>