h4 {
    margin-bottom: 15px;
    color: #adadad;
    font-family: "Montserrat", "sans-serif" !important;
    font-size: 14px;
    font-style: italic;
    font-weight: 540;
}
.teste {
    width: 400px;
    margin-right: 20px;
}
div img {
    width: 200px;
    height: 200px;
}
div {
    .cancel {
        float: left;
        margin-top: 50px;
    }
    .submit {
        float: right;
        margin-top: 50px;
        width: 93px;
        background-color: #1C7265;
    }
}
::ng-deep .mat-focused .mat-form-field-label {
    color: #1C7265 !important;
}  
::ng-deep.mat-form-field-underline {
    background-color: #1C7265 !important;
} 
::ng-deep.mat-form-field-ripple {
    background-color: #1C7265 !important;;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #1C7265!important;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #1C7265;
}
